In [ ]:
import pandas as pd
from pathlib import Path
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
main_dir = "drive/MyDrive/dataset/"

# Data Exploration

## Area

In [ ]:
area_df = pd.read_csv(main_dir + 'area.csv')
area_df.head()

In [ ]:
area_df.info()

In [ ]:
area_df.isna().sum()

## Booking status

In [ ]:
booking_status_df = pd.read_csv(main_dir + 'booking_status.csv')
booking_status_df.head()

In [ ]:
booking_status_df.info()

## Booking To Units

In [ ]:
booking_to_units_df = pd.read_csv(main_dir + 'booking_to_units.csv')
booking_to_units_df.head()

In [ ]:
booking_to_units_df.info()

In [ ]:
booking_to_units_df.isna().sum()

## Booking

In [ ]:
booking_df = pd.read_csv(main_dir + 'booking.csv')
pd.set_option('display.max_column', None)
booking_df.head()

In [ ]:
pd.reset_option('display.max_rows')

In [ ]:
booking_df.info()

In [ ]:
booking_df.isna().sum()

## Channel

In [ ]:
channel_df = pd.read_csv(main_dir + 'channel.csv')
channel_df

In [ ]:
channel_df.info()

In [ ]:
channel_df.isna().sum()

## Currency

In [ ]:
currency_df = pd.read_csv(main_dir + 'currency.csv')
currency_df.head()

## Prop property type

In [ ]:
property_type_df = pd.read_csv(main_dir + 'prop_property_type.csv')
property_type_df.head()

In [ ]:
property_type_df.info()

In [ ]:
property_type_df.isna().sum()

## Property

In [ ]:
property_df = pd.read_csv(main_dir + 'property.csv')
property_df.head()

In [ ]:
property_df.info()

In [ ]:
property_df.isna().sum()

## Unit Amenities

In [ ]:
unit_amenities_df = pd.read_csv(main_dir + 'unit_amenities.csv')
unit_amenities_df.head()

In [ ]:
unit_amenities_df.info()

In [ ]:
unit_amenities_df.isna().sum()

## Unit Facilities

In [ ]:
unit_facilities_df = pd.read_csv(main_dir + 'unit_facilities.csv')
unit_facilities_df.head()

In [ ]:
unit_facilities_df.info()

In [ ]:
unit_facilities_df.isna().sum()

In [ ]:
pd.set_option('display.max_rows', None)
unit_facilities_df[unit_facilities_df.duplicated('unit_id', keep=False)].sort_values('unit_id')

## Unit Type Amenity Category

In [ ]:
unit_type_amenity_category_df = pd.read_csv(main_dir + 'unit_type_amenity_category.csv')
unit_type_amenity_category_df.head()

In [ ]:
unit_type_amenity_category_df.info()

In [ ]:
unit_type_amenity_category_df.isna().sum()

## Unit Type Amenity

In [ ]:
unit_type_amenity_df = pd.read_csv(main_dir + 'unit_type_amenity.csv')
unit_type_amenity_df.head()

In [ ]:
unit_type_amenity_df.info()

In [ ]:
unit_type_amenity_df.isna().sum()

## Unit Type Detail

In [ ]:
unit_type_detail_df = pd.read_csv(main_dir + 'unit_type_detail.csv')
unit_type_detail_df.head()

In [ ]:
unit_type_detail_df.info()

In [ ]:
unit_type_detail_df.isna().sum()

## Unit Type Field

In [ ]:
unit_type_field_df = pd.read_csv(main_dir + 'unit_type_field.csv')
unit_type_field_df.head()

In [ ]:
unit_type_field_df.info()

In [ ]:
unit_type_field_df.isna().sum()

## Unit Type Has Amenity

In [ ]:
unit_type_has_amenity_df = pd.read_csv(main_dir + 'unit_type_has_amenity.csv')
unit_type_has_amenity_df.head()

In [ ]:
unit_type_has_amenity_df.info()

In [ ]:
unit_type_has_amenity_df.isna().sum()

## Unit Type

In [ ]:
unit_type_df = pd.read_csv(main_dir + 'unit_type.csv')
unit_type_df.head()

In [ ]:
unit_type_df.info()

In [ ]:
unit_type_df.isna().sum()

## Unit

In [ ]:
unit_df = pd.read_csv(main_dir + 'unit.csv')
unit_df.head()

In [ ]:
unit_df.info()

In [ ]:
unit_df.isna().sum()

In [ ]:
unit_df[unit_df['unit_type_id'].duplicated()]

# ETL

## Merge 1 clean_unit + unit_facilities

In [ ]:
unit_df['unit_id'].duplicated().sum()

drop data where 'deleted_at' != NaN, karena itu artinya datanya sudah dihapus dan sudah tidak relevan lagi. cmiiw

In [ ]:
unit_df[unit_df['deleted_at'].notna()]

Make sure all 'deleted_at' != NaN is a timestamp before deleting

In [ ]:
pd.set_option('display.max_rows', None)
unit_df.loc[unit_df['deleted_at'].notna(),'deleted_at']

In [ ]:
pd.reset_option('display.max_rows')

In [ ]:
clean_unit_df = unit_df[unit_df['deleted_at'].isna()]
clean_unit_df

In [ ]:
clean_unit_df.isna().sum()

dropping 'deleted_at', 'created_at',	'updated_at', 'temp_column'

In [ ]:
clean_unit_df = clean_unit_df.drop(['deleted_at', 'created_at', 'updated_at', 'temp_column', 'old_unit_id'], axis=1)
clean_unit_df

In [ ]:
merge1_df = clean_unit_df.merge(unit_facilities_df, on=['unit_id'],how='left')
merge1_df

kenapa dari 398 rows bisa jadi 539 rows? Duplicate value? mari kita cek

In [ ]:
merge1_df.duplicated().sum()

yup duplicate 141 values | 539 - 141 = 398 rows

cek seperti apa duplikatnya

In [ ]:
pd.set_option('display.max_rows', None)
merge1_df[merge1_df.duplicated('unit_id', keep=False)].sort_values('unit_id')

sepertinya semua data duplikat isinya sama jadi aman untuk didrop

In [ ]:
pd.reset_option('display.max_rows')
merge1_df.drop_duplicates(subset='unit_id',inplace=True)
merge1_df

In [ ]:
merge1_df.duplicated().sum()

In [ ]:
merge1_df.info()

In [ ]:
merge1_df.isna().sum()

## Merge 2 clean_unit + unit_facilities + unit_amenities

3 fitur dari unit_facilities yakni 'gym', 'parking', 'pool' juga terdapat pada unit_amenities. Mari kita cek perbedaanya

In [ ]:
tes_df = unit_facilities_df.merge(unit_amenities_df, on=['unit_id'], how='outer',suffixes=('_facilities', '_amenities'))
pd.set_option('display.max_rows',None)
tes_df.drop_duplicates(subset='unit_id', inplace=True)
tes_df.loc[:, ['unit_id', 'gym_facilities', 'parking_facilities', 'pool_facilities','gym_amenities', 'parking_amenities', 'pool_amenities']].sort_values('unit_id')

sepertinya semuanya sama dan lebih baik ambil dari unit_facilities karena minim NaN value. cmiiw

tapi ada masalah lain yaitu duplicate value

In [ ]:
unit_amenities_df[unit_amenities_df.duplicated('unit_id', keep=False)]

In [ ]:
unit_amenities_df.info()

In [ ]:
pd.reset_option('display.max_rows')
def count_zeros(row):
    return (row == 0).sum()

unit_amenities_df['zero_count'] = unit_amenities_df.apply(count_zeros, axis=1)
df_sorted = unit_amenities_df.sort_values(by=['unit_id', 'zero_count']).drop_duplicates(subset='unit_id', keep='first')

clean_unit_amenities_df = df_sorted.drop(columns='zero_count')
clean_unit_amenities_df

In [ ]:
clean_unit_amenities_df.duplicated().sum()

In [ ]:
clean_unit_amenities_df = clean_unit_amenities_df.drop(['gym', 'parking', 'pool'], axis=1)

In [ ]:
merge2_df = merge1_df.merge(clean_unit_amenities_df, on=['unit_id'],how='left')
merge2_df

## Merge 3 clean_unit + unit_facilities + unit_amenities + unit_type

drop data where 'deleted_at' != NaN, karena itu artinya datanya sudah dihapus dan sudah tidak relevan lagi. cmiiw

In [ ]:
unit_type_df[unit_type_df['deleted_at'].notna()]

Make sure all 'deleted_at' != NaN is a timestamp before deleting

In [ ]:
pd.set_option('display.max_rows', None)
unit_type_df.loc[unit_type_df['deleted_at'].notna(),'deleted_at']

In [ ]:
pd.reset_option('display.max_rows')

In [ ]:
clean_unit_type_df = unit_type_df[unit_type_df['deleted_at'].isna()]
clean_unit_type_df

In [ ]:
clean_unit_type_df = clean_unit_type_df.drop(['deleted_at', 'created_at',	'updated_at'], axis=1)
clean_unit_type_df

In [ ]:
clean_unit_type_df[clean_unit_type_df.duplicated('unit_type_id', keep=False)]

In [ ]:
merge3_df = merge2_df.merge(clean_unit_type_df, on=['unit_type_id', 'property_id'],how='left')
merge3_df

In [ ]:
merge3_df.info()

In [ ]:
merge3_df.isna().sum()

In [ ]:
merge3_df[merge3_df.duplicated('unit_type_id', keep=False)].sort_values('unit_type_id')

## Merge 4 clean_unit + unit_facilities + unit_amenities + unit_type + (unit_type_detail + unit_type_field)

In [ ]:
unit_type_detail_df

In [ ]:
unit_type_detail_df[unit_type_detail_df['deleted_at'].notna()]

In [ ]:
pd.set_option('display.max_rows', None)
unit_type_detail_df.loc[unit_type_detail_df['deleted_at'].notna(),'deleted_at']

In [ ]:
pd.reset_option('display.max_rows')

In [ ]:
clean_unit_type_detail_df = unit_type_detail_df[unit_type_detail_df['deleted_at'].isna()]
clean_unit_type_detail_df

In [ ]:
clean_unit_type_detail_df = clean_unit_type_detail_df.drop(['deleted_at', 'created_at',	'updated_at'], axis=1)
clean_unit_type_detail_df

In [ ]:
clean_unit_type_detail_df['unit_type_id'].duplicated().sum()

In [ ]:
merge3_df['unit_type_id'].duplicated().sum()

In [ ]:
unit_type_field_df

In [ ]:
pd.set_option('display.max_rows', None)
unit_type_field_df.loc[unit_type_field_df['deleted_at'].notna(),'deleted_at']

In [ ]:
pd.reset_option('display.max_rows')

In [ ]:
clean_unit_type_field_df = unit_type_field_df[unit_type_df['deleted_at'].isna()]
clean_unit_type_field_df

In [ ]:
clean_unit_type_field_df.isna().sum()

In [ ]:
clean_unit_type_field_df = clean_unit_type_field_df.drop(['deleted_at', 'created_at',	'updated_at','label_id'], axis=1)
clean_unit_type_field_df

In [ ]:
clean_unit_type_detail_df

In [ ]:
merge4_df = clean_unit_type_detail_df.merge(clean_unit_type_field_df, on=['unit_type_field_id'],how='left')
merge4_df

In [ ]:
merge4_df.isna().sum()

In [ ]:
merge4_df['name'].unique()

In [ ]:
pivot_df = merge4_df.pivot(index='unit_type_id', columns='name', values='value')

# result = merge4_df.drop_duplicates(subset=['unit_type_id']).set_index('unit_type_id')[['label', 'input_type', 'is_required']].join(pivot_df)

clean_merge4_df = pivot_df.reset_index()
clean_merge4_df

In [ ]:
merge4_df = merge3_df.merge(clean_merge4_df, on=['unit_type_id'],how='left')
merge4_df

In [ ]:
pd.set_option('display.max_rows',None)
merge4_df.loc[:, ['unit_id','bedroom_x', 'bathroom_x', 'beds_x', 'guests', 'capacity','essentials_x', 'bathroom_y', 'bedroom_y', 'beds_y', 'essentials_y', 'total_guest_capacity']]

In [ ]:
merge4_df['bedroom'] = merge4_df['bedroom_x'].combine_first(merge4_df['bedroom_y'])
merge4_df['bathroom'] = merge4_df['bathroom_x'].combine_first(merge4_df['bathroom_y'])
merge4_df['beds'] = merge4_df['beds_x'].combine_first(merge4_df['beds_y'])
merge4_df['total_guest_capacity'] = merge4_df['total_guest_capacity'].combine_first(merge4_df['guests'])
merge4_df['essentials'] = merge4_df['essentials_x'].combine_first(merge4_df['essentials_y'])

merge4_df = merge4_df.drop(columns=['bedroom_x', 'bedroom_y', 'bathroom_x', 'bathroom_y', 'beds_x', 'beds_y', 'guests', 'essentials_x', 'essentials_y'])

merge4_df

In [ ]:
merge4_df[merge4_df['property_id'] == 'PR0837']

In [ ]:
merge4_df.info()

In [ ]:
merge4_df = merge4_df[merge4_df['status'] == 1]
merge4_df = merge4_df.reset_index(drop=True)

In [ ]:
merge4_df

In [ ]:
merge4_df.info()

In [ ]:
sort_merge4_df = merge4_df.sort_values(by='property_id')
grouped = merge4_df.groupby('property_id')['capacity'].apply(lambda x: x.isna().all())
result = grouped[grouped].index.tolist()

In [ ]:
print("Property_id dengan semua capacity NaN:", result)

In [ ]:
merge4_df[merge4_df['property_id'].isin(result)]

In [ ]:
merge4_df.isna().sum()