In [ ]:
import pandas as pd
from pathlib import Path

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
main_dir = "drive/MyDrive/dataset/"

In [ ]:
booking_status_df = pd.read_csv(main_dir + 'booking_status.csv')
booking_status_df.head()

In [ ]:
booking_status_df.info()

In [ ]:
booking_to_units_df = pd.read_csv(main_dir + 'booking_to_units.csv')
booking_to_units_df.head()

In [ ]:
booking_to_units_df.info()

In [ ]:
booking_to_units_df.isna().sum()

In [ ]:
booking_to_units_df.describe()

In [ ]:
booking_df = pd.read_csv(main_dir + 'booking.csv')
booking_df.head()

In [ ]:
booking_df.info()

In [ ]:
booking_df.describe(include='all')

In [ ]:
booking_df.isna().sum()

In [ ]:
channel_df = pd.read_csv(main_dir + 'channel.csv')
channel_df

In [ ]:
channel_df.info()

In [ ]:
channel_df.isna().sum()

In [ ]:
currency_df = pd.read_csv(main_dir + 'currency.csv')
currency_df.head()

## Join Data

inner join booking_to_units_df dan booking_df dengan kolom booking_id karena ambil nilai yang tidak null saja

In [ ]:
join_booking_unit_df = pd.merge(booking_to_units_df, booking_df, on='booking_id')

In [ ]:
join_booking_unit_df.info()

In [ ]:
join_booking_unit_df = join_booking_unit_df.rename(columns={'created_at_x': 'booking_units_created_at'})
join_booking_unit_df = join_booking_unit_df.rename(columns={'updated_at_x': 'booking_units_updated_at'})
join_booking_unit_df = join_booking_unit_df.rename(columns={'deleted_at_x': 'booking_units_deleted_at'})

join_booking_unit_df = join_booking_unit_df.rename(columns={'created_at_y': 'booking_created_at'})
join_booking_unit_df = join_booking_unit_df.rename(columns={'updated_at_y': 'booking_updated_at'})
join_booking_unit_df = join_booking_unit_df.rename(columns={'deleted_at_y': 'booking_deleted_at'})

In [ ]:
join_booking_unit_df.info()

In [ ]:
join_booking_unit_df.isna().sum()

In [ ]:
filtered_df = join_booking_unit_df[
    join_booking_unit_df['booking_check_in'].notna()
]

# Menampilkan hasil filter
filtered_df['booking_check_in'].head(10)

In [ ]:
join_booking_unit_df['booking_guest_number'].describe()

In [ ]:
join_booking_unit_df['temp_column'].unique()

In [ ]:
join_booking_unit_df.shape

In [ ]:
join_booking_unit_currency_df = pd.merge(join_booking_unit_df, currency_df, left_on='booking_currency', right_on='currency_code')

join_booking_unit_currency_df.info()

In [ ]:
join_booking_unit_currency_df.isna().sum()

In [ ]:
join_booking_unit_currency_df.shape

In [ ]:
join_booking_unit_currency_channel_df = pd.merge(join_booking_unit_currency_df, channel_df, left_on='booking_source', right_on='channel_code',how='left')

join_booking_unit_currency_channel_df.info()

In [ ]:
join_booking_unit_currency_channel_df.isna().sum()

In [ ]:
join_booking_unit_currency_channel_df.shape

In [ ]:
join_booking_unit_currency_channel_df['booking_status'] = join_booking_unit_currency_channel_df['booking_status'].astype(int)

join_booking_unit_currency_channel_df.info()

In [ ]:
joined_all_booking_df = pd.merge(join_booking_unit_currency_channel_df, booking_status_df, on='booking_status',how='left')

joined_all_booking_df.info()

In [ ]:
joined_all_booking_df.shape

In [ ]:
joined_all_booking_df.isna().sum()

In [ ]:
joined_all_booking_df.to_csv('joined_booking.csv')

In [ ]:
joined_all_booking_df['cancellation_policy'].unique()

In [ ]:
joined_all_booking_df['booking_currency'].head()

In [ ]:
import pandas as pd

# Memuat data

# Menangani nilai-nilai yang tidak valid
joined_all_booking_df['booking_check_in'] = pd.to_datetime(joined_all_booking_df['booking_check_in'], errors='coerce')

# Menghapus baris dengan nilai 'booking_check_in' yang tidak valid
joined_all_booking_df = joined_all_booking_df.dropna(subset=['booking_check_in'])

# Mencari nilai data tanggal yang paling baru (maksimal) dan paling lama (minimal)
tanggal_terbaru = joined_all_booking_df['booking_check_in'].max()
tanggal_terlama = joined_all_booking_df['booking_check_in'].min()

print("Tanggal paling baru (maksimal):", tanggal_terbaru)
print("Tanggal paling lama (minimal):", tanggal_terlama)

# Cleaning Booking Data
booking_status 1 = confirmed, 2 = cancelled

booking_currency

In [ ]:
booking_df = joined_all_booking_df[['booking_id','unit_id','booking_check_in','booking_check_out','booking_earned','booking_currency','currency_desc', 'booking_status']]

booking_df.head()

In [ ]:
booking_df.shape

### Mengambil data confirmed dan menghapus data cancelled

In [ ]:
# Filter data yang memiliki booking_status selain 1
non_one_status_df = booking_df[booking_df['booking_status'] != 1]

# Print data yang memiliki booking_status selain 1
print(non_one_status_df)

# Jika kamu ingin mengetahui berapa banyak data yang memiliki booking_status selain 1
count_non_one_status = len(non_one_status_df)
print(f"Jumlah data dengan booking_status selain 1: {count_non_one_status}")

In [ ]:
unique_booking_status = booking_df['booking_status'].unique()
print("Nilai unik pada kolom booking_status:", unique_booking_status)

In [ ]:
# Filter data yang memiliki booking_status selain 1
three_status_df = booking_df[booking_df['booking_status'] == 3]
four_status_df = booking_df[booking_df['booking_status'] == 4]
five_status_df = booking_df[booking_df['booking_status'] == 5]
six_status_df = booking_df[booking_df['booking_status'] == 6]

# Jika kamu ingin mengetahui berapa banyak data yang memiliki booking_status selain 1
count_non_one_status = len(three_status_df) + len(four_status_df) + len(five_status_df) + len(six_status_df)
print(f"Jumlah data dengan booking_status 3,4,5,6: {count_non_one_status}")

In [ ]:
# Menghitung jumlah baris awal di booking_df
initial_count = len(booking_df)

# Mengambil data booking status = 1 (confirmed)
booking_df = booking_df[booking_df['booking_status'] == 1]

# Menghitung jumlah baris setelah penghapusan
final_count = len(booking_df)

# Menghitung jumlah data yang terhapus
deleted_count = initial_count - final_count

# Menampilkan hasil
print(f"Jumlah data awal: {initial_count}")
print(f"Jumlah data yang terhapus: {deleted_count}")
print(f"Jumlah data yang tersisa: {final_count}")

In [ ]:
booking_df.describe()

### mengubah semua data earned (harga booking) menjadi rupiah

In [ ]:
unique_currency_label = booking_df['currency_desc'].unique()
print("Nilai unik pada currency code:", unique_currency_label)

unique_currency = booking_df['booking_currency'].unique()
print("Nilai unik pada currency:", unique_currency)

In [ ]:
one_status_df = booking_df[booking_df['booking_currency'] == 1.]
two_status_df = booking_df[booking_df['booking_currency'] == 2.]
three_status_df = booking_df[booking_df['booking_currency'] == 3.]

print(f"Jumlah data booking currency rupiah: {len(one_status_df) }")
print(f"Jumlah data booking currency USD: {len(two_status_df) }")
print(f"Jumlah data booking currency EUR: {len(three_status_df) }")

In [ ]:
two_status_df.head()

In [ ]:
three_status_df.head()

In [ ]:
# Definisikan nilai tukar mata uang secara manual
usd_to_idr = 15918
eur_to_idr = 17307

# Fungsi untuk mengonversi ke IDR dan memperbarui booking_currency
def convert_to_idr(row):
    if row['booking_currency'] == 2.:  # USD
        converted_value = row['booking_earned'] * usd_to_idr
    elif row['booking_currency'] == 3.:  # EUR
        converted_value = row['booking_earned'] * eur_to_idr
    else:  # Assuming 1.0 is already IDR
        converted_value = row['booking_earned']
    return converted_value

# Menggunakan apply untuk mengonversi booking_earned dan memperbarui booking_currency
booking_df['booking_earned_idr'] = booking_df.apply(lambda row: convert_to_idr(row), axis=1)

# Memeriksa beberapa baris pertama untuk memastikan konversi dan pembaruan kolom
print(booking_df[['booking_id', 'booking_currency', 'booking_earned', 'booking_earned_idr']].head())

In [ ]:
booking_df.describe()

In [ ]:
# Mengambil nilai minimal dan maksimal dari kolom booking_earned_idr
nilai_minimal = booking_df['booking_earned_idr'].min()
nilai_maksimal = booking_df['booking_earned_idr'].max()

# Menampilkan hasil
print(f"Nilai minimal booking_earned_idr: {nilai_minimal}")
print(f"Nilai maksimal booking_earned_idr: {nilai_maksimal}")

In [ ]:
# Menghitung jumlah nilai negatif
jumlah_nilai_negatif = booking_df[booking_df['booking_earned_idr'] < 0]

# Menampilkan hasil
print(f"Jumlah data dengan nilai negatif: {len(jumlah_nilai_negatif)}")

In [ ]:
jumlah_nilai_negatif

## menghapus nilai harga booking yang negatif

In [ ]:
# Menghitung jumlah data dengan nilai negatif sebelum dihapus
jumlah_nilai_negatif = (booking_df['booking_earned_idr'] < 0).sum()
print(f"Jumlah data dengan nilai negatif sebelum dihapus: {jumlah_nilai_negatif}")

# Menghapus data dengan nilai negatif di kolom booking_earned_idr
booking_df = booking_df[booking_df['booking_earned_idr'] >= 0]

# Menghitung jumlah data setelah penghapusan
jumlah_data_setelah_penghapusan = len(booking_df)
print(f"Jumlah data setelah penghapusan: {jumlah_data_setelah_penghapusan}")

# Mengambil nilai minimal dan maksimal dari kolom booking_earned_idr setelah penghapusan
nilai_minimal = booking_df['booking_earned_idr'].min()
nilai_maksimal = booking_df['booking_earned_idr'].max()

# Menampilkan hasil
print(f"Nilai minimal booking_earned_idr setelah penghapusan nilai negatif: {nilai_minimal}")
print(f"Nilai maksimal booking_earned_idr setelah penghapusan nilai negatif: {nilai_maksimal}")

In [ ]:
# Menghitung jumlah nilai kurang dari 100 ribu
jumlah_nilai_nol = booking_df[booking_df['booking_earned_idr'] < 100000]

# Menampilkan hasil
print(f"Jumlah data dengan nilai dibawah 100 ribu: {len(jumlah_nilai_nol)}")

In [ ]:
one_status_df = jumlah_nilai_nol[jumlah_nilai_nol['booking_currency'] == 1.]
two_status_df = jumlah_nilai_nol[jumlah_nilai_nol['booking_currency'] == 2.]
three_status_df = jumlah_nilai_nol[jumlah_nilai_nol['booking_currency'] == 3.]

print(f"Jumlah data booking currency rupiah dibawah 100 ribu: {len(one_status_df) }")
print(f"Jumlah data booking currency USD dibawah 100 ribu: {len(two_status_df) }")
print(f"Jumlah data booking currency EUR dibawah 100 ribu: {len(three_status_df) }")

In [ ]:
one_status_df.head()

In [ ]:
two_status_df.head()

In [ ]:
three_status_df.head()

In [ ]:
one_status_df.describe()

## ambil rentang booking dari tahun 2022

In [ ]:
booking_df['booking_check_in'] = pd.to_datetime(booking_df['booking_check_in'], errors='coerce')
booking_df['booking_check_out'] = pd.to_datetime(booking_df['booking_check_out'], errors='coerce')

In [ ]:
start_date = pd.Timestamp('2023-01-01')
filtered_booking_df = booking_df[booking_df['booking_check_in'] >= start_date]

In [ ]:
print(filtered_booking_df.head())
print(f"Jumlah data mulai 2022: {len(filtered_booking_df)}")

In [ ]:
len(filtered_booking_df['unit_id'].unique())

In [ ]:
# Menghitung jumlah nilai negatif
jumlah_nilai_nol = filtered_booking_df[filtered_booking_df['booking_earned_idr'] < 100000]

# Menampilkan hasil
print(f"Jumlah data dengan nilai dibawah 100 ribu: {len(jumlah_nilai_nol)}")

In [ ]:
jumlah_nilai_nol

In [ ]:
jumlah_nilai_nol['unit_id']

In [ ]:
# Menghitung jumlah data dengan nilai dibawah 100 ribu sebelum dihapus
print(f"Jumlah data dengan nilai dibawah 100 ribu sebelum dihapus: {len(jumlah_nilai_nol)}")

# Menghapus data dengan nilai dibawah 100 ribu di kolom booking_earned_idr
filtered_booking_df = filtered_booking_df[filtered_booking_df['booking_earned_idr'] >= 100000]

# Menghitung jumlah data setelah penghapusan
jumlah_data_setelah_penghapusan = len(filtered_booking_df)
print(f"Jumlah data setelah penghapusan: {jumlah_data_setelah_penghapusan}")

# Mengambil nilai minimal dan maksimal dari kolom booking_earned_idr setelah penghapusan
nilai_minimal = filtered_booking_df['booking_earned_idr'].min()
nilai_maksimal = filtered_booking_df['booking_earned_idr'].max()

# Menampilkan hasil
print(f"Nilai minimal booking_earned_idr setelah penghapusan nilai negatif: {nilai_minimal}")
print(f"Nilai maksimal booking_earned_idr setelah penghapusan nilai negatif: {nilai_maksimal}")

In [ ]:
len(filtered_booking_df['unit_id'].unique())

In [ ]:
filtered_booking_df.describe(include='all')

# feature engineering untuk harga setiap unit

In [ ]:
# Filter data berdasarkan unit_id
filtered_data = filtered_booking_df[filtered_booking_df['unit_id'] == 'UN1009']

# Mengurutkan data berdasarkan booking_check_in dan booking_check_out dari yang terbaru
sorted_filtered_data = filtered_data.sort_values(by=['booking_check_in', 'booking_check_out'], ascending=[False, False])

# Menampilkan hasil
sorted_filtered_data.head(10)

In [ ]:
filtered_data = filtered_booking_df[filtered_booking_df['unit_id'] == 'UN2808']
# Filter data berdasarkan tanggal booking_check_in dan booking_check_out yang diinginkan
data_tanggal_1_1_2023 = filtered_data[(filtered_data['booking_check_in'] == '2023-01-01 ')]
data_tanggal_1_1_2024 = filtered_data[(filtered_data['booking_check_in'] == '2024-01-01' )]

# Menggabungkan hasil
result_data = pd.concat([data_tanggal_1_1_2023, data_tanggal_1_1_2024])

# Menampilkan hasil
print(result_data)

In [ ]:
import numpy as np
# Menghitung durasi menginap dalam hari
filtered_booking_df['stay_duration'] = abs((filtered_booking_df['booking_check_out'] - filtered_booking_df['booking_check_in']).dt.days)

# Menghindari pembagian dengan nol dengan mengganti nilai stay_duration yang nol dengan NaN
filtered_booking_df.loc[filtered_booking_df['stay_duration'] == 0, 'stay_duration'] = np.nan

# Menghitung harga sewa per hari
filtered_booking_df['price_per_day'] = filtered_booking_df['booking_earned_idr'] / filtered_booking_df['stay_duration']

# Menampilkan beberapa baris pertama untuk melihat hasilnya
print(filtered_booking_df[['booking_id', 'booking_check_in', 'booking_check_out', 'booking_earned_idr', 'stay_duration', 'price_per_day']].head())

In [ ]:
# Melakukan analisis statistik pada harga sewa per hari
print(filtered_booking_df['price_per_day'].describe())

In [ ]:
# Menampilkan data yang memiliki nilai price_per_day di bawah 100 ribu
data_price_below_100k = filtered_booking_df[filtered_booking_df['price_per_day'] < 100000]

# Menampilkan hasil
data_price_below_100k

In [ ]:
filtered_booking_df[filtered_booking_df['price_per_day'] == filtered_booking_df['price_per_day'].max()]

In [ ]:
filtered_booking_df[filtered_booking_df['price_per_day'] == filtered_booking_df['price_per_day'].min()]

In [ ]:
filtered_booking_df[filtered_booking_df['unit_id'] == 'UN1009']

In [ ]:
# Kelompokkan data berdasarkan unit_id dan hitung median harga booking
unit_median_price = filtered_booking_df.groupby('unit_id')['price_per_day'].median().reset_index()

# Simpan hasil ke dalam file CSV
unit_median_price.to_csv('unit_median_price.csv', index=False)

print(unit_median_price.head())

In [ ]:
unit_median_price.describe()

In [ ]:
unit_median_price

In [ ]:
unit_median_price[unit_median_price['unit_id'] == 'UN3095']

In [ ]:
# Kelompokkan data berdasarkan unit_id dan hitung median harga booking
unit_mean_price = filtered_booking_df.groupby('unit_id')['price_per_day'].mean().reset_index()

# Simpan hasil ke dalam file CSV
unit_mean_price.to_csv('unit_mean_price.csv', index=False)

print(unit_mean_price.head())

In [ ]:
unit_mean_price.describe()

In [ ]:
unit_mean_price

In [ ]:
unit_mean_price[unit_mean_price['unit_id'] == 'UN3101']