In [ ]:
import pandas as pd
from pathlib import Path

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
main_dir = "drive/MyDrive/dataset/"

# Booking Price per Unit

In [ ]:
unit_booking_price_df = pd.read_csv(main_dir + 'unit_mean_price.csv')
unit_booking_price_df.head()

In [ ]:
unit_booking_price_df.describe()

In [ ]:
unit_booking_price_df.isna().sum()

In [ ]:
unit_booking_price_df.describe()

In [ ]:
unit_booking_price_df.shape

# Clean Property Data

In [ ]:
# area_df = pd.read_csv(main_dir + 'area.csv')
# area_df.head()

In [ ]:
# area_df = area_df[['area_id', 'area_name']]

In [ ]:
property_df = pd.read_csv(main_dir + 'all_property.csv')
property_df.head()

In [ ]:
property_df.isna().sum()

In [ ]:
property_df.describe(include='all')

In [ ]:
property_df.shape

# Unit Data

In [ ]:
unit_df = pd.read_csv(main_dir + 'unit_merge.csv')
unit_df.head()

In [ ]:
unit_df.isna().sum()

In [ ]:
unit_df.describe(include='all')

In [ ]:
# unit_df = unit_df.drop(columns=['status'])
# unit_df.head()

In [ ]:
unit_df.shape

# Join

## join harga booking dengan unit

In [ ]:
merged_df = unit_df.merge(unit_booking_price_df, on='unit_id', how='left')

In [ ]:
merged_df.head()

In [ ]:
merged_df.info()

In [ ]:
merged_df.describe(include='all')

In [ ]:
merged_df.isna().sum()

In [ ]:
merged_df.shape

In [ ]:
# Menampilkan data yang memiliki nilai null
null_rows = merged_df[merged_df.isnull().any(axis=1)]

# Menampilkan hasil
print("Data yang memiliki nilai null pada merged_df:")
print(null_rows)

In [ ]:
null_rows['property_id'].unique()

## join merged dengan properti

In [ ]:
final_df = pd.merge(merged_df, property_df, on='property_id', how='outer')

In [ ]:
final_df.head()

In [ ]:
final_df.info()

In [ ]:
final_df.isna().sum()

In [ ]:
null_property_type_df = final_df[final_df['property_type'].isna()]

# Menampilkan hasil
print("Baris data yang memiliki nilai null pada kolom property_type:")
print(null_property_type_df)

In [ ]:
final_df.to_csv('merged_data.csv', index=False)

# cek data properti

In [ ]:
property_asli_df = pd.read_csv(main_dir + 'property.csv')

In [ ]:
property_ids = ['PR0641', 'PR0761', 'PR0861', 'PR0864', 'PR0858', 'PR0728', 'PR0781']

# Mencari baris dengan property_id yang sesuai dengan daftar di atas
property_selected_df = property_asli_df[property_asli_df['property_id'].isin(property_ids)]

# Menampilkan hasil pencarian
property_selected_df

In [ ]:
pd.set_option('display.max_columns', None)
property_asli_df[property_asli_df['property_id'] == 'PR0641']

In [ ]:
pd.reset_option('display.max_columns')

properti status == 2 tapi unit status == 1 jadi dia udah join bukit vista? tapi judul properti namenya TEST VILLA?

In [ ]:
#drop data property == PR0641
final_df = final_df[final_df['property_id'] != 'PR0641']

In [ ]:
final_df.isna().sum()

## cek properti untuk cari harga booking

### properti PR0761

In [ ]:
pd.set_option('display.max_columns', None)
property_asli_df[property_asli_df['property_id'] == 'PR0761']

test purpose??? aku cari di BigRR Acala Hostel ini dari januari 2023 gaada booking sama sekali, kenapa? apa dia masih mitra dan masih beroperasi? aku coba di traveloka dkk dia juga gaada kamar yang tersedia jadi gabisa ambil harganya. tapi properti status sama unitnya masih == 1

In [ ]:
pd.set_option('display.max_columns', None)
property_asli_df[property_asli_df['property_name'].str.contains('acala', case=False, na=False)]

In [ ]:
#drop data property == PR0761
final_df = final_df[final_df['property_id'] != 'PR0761']

In [ ]:
final_df.isna().sum()

### Properti PR0861

In [ ]:
pd.set_option('display.max_columns', None)
property_asli_df[property_asli_df['property_id'] == 'PR0861']

kalau diliat emang masih baru, ambil data booking dari dataviz

In [ ]:
pd.set_option('display.max_columns', None)
final_df[final_df['property_id'] == 'PR0861']

### Properti PR0864

In [ ]:
pd.set_option('display.max_columns', None)
property_asli_df[property_asli_df['property_id'] == 'PR0864']

kalau diliat emang masih baru, ambil data booking dari dataviz

In [ ]:
final_df[final_df['property_id'] == 'PR0864']

### Properti PR0858

In [ ]:
pd.set_option('display.max_columns', None)
property_asli_df[property_asli_df['property_id'] == 'PR0858']

kalau diliat emang masih baru, ambil data booking dari dataviz

### Properti PR0728

In [ ]:
pd.set_option('display.max_columns', None)
property_asli_df[property_asli_df['property_id'] == 'PR0728']

data bookingnya ada semua tapi kenapa hasil di booking unit gaada? coba cek di booking.csv

In [ ]:
final_df[final_df['property_id'] == 'PR0728']

In [ ]:
# Mengubah nilai price_per_day untuk unit_id == UN3107
final_df.loc[final_df['unit_id'] == 'UN3105', 'price_per_day'] = 863333.333

# Menampilkan baris yang sudah diperbarui untuk verifikasi
final_df[final_df['unit_id'] == 'UN3105']

### Properti PR0781

In [ ]:
pd.set_option('display.max_columns', None)
property_asli_df[property_asli_df['property_id'] == 'PR0781']

data bookingnya ada semua tapi kenapa hasil di booking unit gaada? coba cek di booking.csv

In [ ]:
final_df[final_df['property_id'] == 'PR0781']

Upstairs Double 1,2,3,4 ga pernah ada data bookingnya. dia masih available ga untuk dibooking? tapi status unitnya 1

In [ ]:
pd.set_option('display.max_columns', None)
final_df[(final_df['property_id'] == 'PR0781') & final_df.isna().any(axis=1)]

In [ ]:
# Mengubah nilai price_per_day untuk unit_id == UN3107
final_df.loc[final_df['unit_id'] == 'UN3107', 'price_per_day'] = 520000

# Menampilkan baris yang sudah diperbarui untuk verifikasi
final_df[final_df['unit_id'] == 'UN3107']

In [ ]:
# Mengubah nilai price_per_day untuk unit_id == UN3107
final_df.loc[final_df['unit_id'] == 'UN3106', 'price_per_day'] = 520000

# Menampilkan baris yang sudah diperbarui untuk verifikasi
final_df[final_df['unit_id'] == 'UN3106']

In [ ]:
# Mengubah nilai price_per_day untuk unit_id == UN3107
final_df.loc[final_df['unit_id'] == 'UN3108', 'price_per_day'] = 520000

# Menampilkan baris yang sudah diperbarui untuk verifikasi
final_df[final_df['unit_id'] == 'UN3108']

In [ ]:
# Mengubah nilai price_per_day untuk unit_id == UN3107
final_df.loc[final_df['unit_id'] == 'UN3109', 'price_per_day'] = 520000

# Menampilkan baris yang sudah diperbarui untuk verifikasi
final_df[final_df['unit_id'] == 'UN3109']

In [ ]:
pd.set_option('display.max_columns', None)
final_df[(final_df['property_id'] == 'PR0781') & final_df.isna().any(axis=1)]

# final

In [ ]:
final_df[final_df.isna().any(axis=1)]

In [ ]:
final_df.isna().sum()

In [ ]:
final_df.shape

In [ ]:
final_df.head()

In [ ]:
final_df.describe()

## isi data total guest capacity

In [ ]:
(final_df['total_guest_capacity'] == 0.0).sum()

In [ ]:
final_df[final_df['total_guest_capacity'] == 0.0]

In [ ]:
final_df[final_df['property_id'] == 'PR0254']

In [ ]:
# Mengubah nilai pada baris dengan property_id == 'PR0254'
final_df.loc[final_df['property_id'] == 'PR0254', ['total_guest_capacity', 'bathroom', 'beds']] = [2, 1, 1]

# Menampilkan hasil untuk memeriksa perubahan
final_df[final_df['property_id'] == 'PR0254']

In [ ]:
property_asli_df[property_asli_df['property_id'] == 'PR0575']

In [ ]:
final_df.loc[final_df['property_id'] == 'PR0093', 'total_guest_capacity'] = 5

In [ ]:
final_df[final_df['property_id'] == 'PR0093']

In [ ]:
# final_df.loc[final_df['property_id'] == 'PR0354', 'total_guest_capacity'] = 10
# final_df.loc[final_df['property_id'] == 'PR0404', 'total_guest_capacity'] = 2
# final_df.loc[final_df['property_id'] == 'PR0575', 'total_guest_capacity'] = 2
# final_df.loc[final_df['property_id'] == 'PR0603', 'total_guest_capacity'] = 2

In [ ]:
# Mengisi kolom 'total_guest_capacity' dengan beds * 2 pada baris yang memiliki 'total_guest_capacity' sama dengan 0.0
final_df.loc[final_df['total_guest_capacity'] == 0.0, 'total_guest_capacity'] = final_df['beds'] * 2

# Menampilkan baris yang telah diperbarui untuk memastikan perubahan
final_df[final_df['total_guest_capacity'] == 0.0]

In [ ]:
final_df.describe()

In [ ]:
final_df[final_df['beds'] == 0.0]

In [ ]:
final_df.loc[final_df['beds'] == 0.0, 'beds'] = final_df['bedroom']
final_df[final_df['beds'] == 0.0]

In [ ]:
final_df[final_df['bathroom'] == 0.0]

In [ ]:
final_df.loc[final_df['bathroom'] == 0.0, 'bathroom'] = final_df['bedroom']
final_df[final_df['bathroom'] == 0.0]

In [ ]:
final_df.describe()

In [ ]:
final_df.info()

## drop kolom yang tidak dipakai clustering

In [ ]:
final_df = final_df.drop(columns=['status'])
final_df.describe()

In [ ]:
final_df = final_df.drop(columns=['property_status'])
final_df.describe()

In [ ]:
final_df = final_df.drop(columns=['unit_type_id'])
final_df.describe()

In [ ]:
final_df = final_df.drop(columns=['area_id'])
final_df.describe()

In [ ]:
# final_df['area_id_num'].unique()

In [ ]:
# final_df = final_df.drop(columns=['area_squad'])
# final_df.describe()

In [ ]:
# final_df = final_df.drop(columns=['area_id_num'])
# final_df.describe()

In [ ]:
# area_to_regency = {
#     'Kintamani': 1,
#     'Caturtunggal': 10,
#     'Karangasem': 4,
#     'Umalas' :8,
#     'Pererenan' : 9,
#     'Singaraja' : 2,
#     'Tabanan' : 6,
#     'Kerobokan' : 8,
#     'Nusa Ceningan' : 5,
#     'Pecatu' : 10,
#     'Mengwi' : 9,
#     'Seminyak' : 8,
#     'Sanur' : 7,
#     'Bingin' : 10,
#     'Jimbaran' : 10,
#     'Ungasan' : 10,
#     'Uluwatu' : 10,
#     'Nusa Dua' : 10,
#     'Canggu' : 8,
#     'Ngupasan' : 11,
#     'Padang Padang' : 10,
#     'Nusa Penida' : 5,
#     'Ubud' : 3,
#     'Kutuh' : 10,
#     'Sinduadi' : 11,
#     'Timbulharjo' : 11,
# }

# final_df['area_regency_city'] = final_df['area_name'].map(area_to_regency)

## buat kolom area to agency

analisis regency tabanan, sanur, singasari karena propertinya 1 di tiap daerah

tabanan (6) -> mengwi, pererenan (9) jarak 8km dan 15km

singaraja (2) -> kintamani (1) jarak 50km gada yg lbih deket lagi:(

sanur (7) -> kuta utara, kuta (8) (seminyak 15 km, umalas 16 km,  kerobokan 19 km, canggu 21 km)

In [ ]:
area_to_regency = {
    'Kintamani': 1,
    'Caturtunggal': 11,
    'Karangasem': 4,
    'Umalas' :8,
    'Pererenan' : 9,
    'Singaraja' : 1,
    'Tabanan' : 9,
    'Kerobokan' : 8,
    'Nusa Ceningan' : 5,
    'Pecatu' : 10,
    'Mengwi' : 9,
    'Seminyak' : 8,
    'Sanur' : 8,
    'Bingin' : 10,
    'Jimbaran' : 10,
    'Ungasan' : 10,
    'Uluwatu' : 10,
    'Nusa Dua' : 10,
    'Canggu' : 8,
    'Ngupasan' : 11,
    'Padang Padang' : 10,
    'Nusa Penida' : 5,
    'Ubud' : 3,
    'Kutuh' : 10,
    'Sinduadi' : 11,
    'Timbulharjo' : 11,
}

final_df['area_regency_city'] = final_df['area_name'].map(area_to_regency)

In [ ]:
final_df[final_df['area_regency_city'] == 9]

mengwi lebih deket ke pererenan

pererenan lebih deket ke mengwi

tabanan deket ke pererenan

In [ ]:
final_df.loc[final_df['area_name'] == 'Pererenan', 'area_distance_to_airport'] = 1.1

# Menampilkan baris yang telah diperbarui untuk memastikan perubahan
final_df[final_df['area_name'] == 'Pererenan']

In [ ]:
final_df[final_df['area_regency_city'] == 9]

In [ ]:
final_df[final_df['area_regency_city'] == 1]

In [ ]:
final_df.loc[final_df['area_name'] == 'Singaraja', 'area_distance_to_airport'] = 2.7

# Menampilkan baris yang telah diperbarui untuk memastikan perubahan
final_df[final_df['area_name'] == 'Singaraja']

In [ ]:
final_df[final_df['area_regency_city'] == 1]

In [ ]:
final_df[final_df['area_regency_city'] == 8]

In [ ]:
# Memfilter DataFrame dengan 'area_regency_city' == 8
filtered_df = final_df[final_df['area_regency_city'] == 8]

# Menghapus duplikat berdasarkan 'area_name', sehingga hanya menyisakan satu baris untuk setiap 'area_name'
unique_area_name_df = filtered_df.drop_duplicates(subset=['area_name'])

# Menampilkan hasil
unique_area_name_df

In [ ]:
final_df.loc[final_df['area_name'] == 'Umalas', 'area_distance_to_airport'] = 0.8

# Menampilkan baris yang telah diperbarui untuk memastikan perubahan
final_df[final_df['area_name'] == 'Umalas']

In [ ]:
final_df.loc[final_df['area_name'] == 'Canggu', 'area_distance_to_airport'] = 0.9

# Menampilkan baris yang telah diperbarui untuk memastikan perubahan
final_df[final_df['area_name'] == 'Canggu']

In [ ]:
final_df.loc[final_df['area_name'] == 'Kerobokan', 'area_distance_to_airport'] = 0.77

# Menampilkan baris yang telah diperbarui untuk memastikan perubahan
final_df[final_df['area_name'] == 'Kerobokan']

In [ ]:
final_df.loc[final_df['area_name'] == 'Sanur', 'area_distance_to_airport'] = 0.7

# Menampilkan baris yang telah diperbarui untuk memastikan perubahan
final_df[final_df['area_name'] == 'Sanur']

In [ ]:
final_df[final_df['area_name'] == 'Seminyak']

seminyak -> kerobokan 5km, umalas 4.7km, canggu 9.5 km, sanur 15km

canggu -> seminyak 9.5 km, kerobokan 4.5km, umalas 6.8km, sanur 21km

umalas -> seminyak 4.7km, canggu 6.8km, sanur 16km, kerobokan 2,4km

kerobokan -> seminyak 5km, canggu 4.5 km, sanur 19 km, umalas 2,4km

sanur -> seminyak 15 km, umalas 16 km,  kerobokan 19 km, canggu 21 km

In [ ]:
# Memfilter DataFrame dengan 'area_regency_city' == 8
filtered_df = final_df[final_df['area_regency_city'] == 8]

# Menghapus duplikat berdasarkan 'area_name', sehingga hanya menyisakan satu baris untuk setiap 'area_name'
unique_area_name_df = filtered_df.drop_duplicates(subset=['area_name'])

# Menampilkan hasil
unique_area_name_df

# to csv

In [ ]:
final_df.describe()

In [ ]:
final_df.isna().sum()

In [ ]:
# Mengganti nama kolom 'price_per_day' menjadi 'avg_price_per_day' di final_df
final_df.rename(columns={'price_per_day': 'avg_price_per_day'}, inplace=True)

# Menampilkan beberapa baris pertama untuk memastikan perubahan
final_df.head()

In [ ]:
final_df.to_csv('final_data_new_regency.csv', index=False)

In [ ]:
final_df.info()